@import "../nautilus/nautilus";


@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

@mixin nt-hero($modifier) {

  @if $modifier == "no-cta" {

    .hero__cta { 
      display: none;
    }
  }

  @if $modifier == "center-horizontal" {

    .hero__content {
      text-align: center;
    }
  }

  @if $modifier == "center-vertical" {
    @include position(relative, null null null null);

    .hero__inner {
      @include display(flex);
      @include align-items(center);
    }

    .hero__content {
      text-align: center;
    }
  }

  @if $modifier == "16:9" {
    @include position(relative, null null null null);
    @include padding (percentage(9/16) null null null);

    .hero__inner {
      @include position(absolute, 0 0 0 0);
    }
  }
  
  @if $modifier == "16:10" {
    @include position(relative, null null null null);
    @include padding(percentage(10/16) null null null);

    .hero__inner {
      @include position(absolute, 0 0 0 0);
    }
  }

  @if $modifier == "4:3" {
    @include position(relative, null null nulll null);
    @include padding(percentage(1/4) null null null);

    .hero__inner {
      @include position(absolute, 0 0 0 0);
    }
  }
}

.hero {

  &.hero--home {

    background-size: cover;

    @include nt-hero("no-cta");
    @include nt-hero("no-scroll");
    @include nt-hero("center-horizontal");
    @include nt-hero("center-vertical");
    @include nt-hero("4:3");

    .hero__content {
      @include nt-container;
    }

    .hero__heading {
      color: white;
      font-size: 6em;
      font-family: 'Abril Fatface', cursive;
    }

    @include media($mq-lap-down) {
      @include nt-hero("16:9");

      .hero__heading {
        font-size: 4em;
      }
    }

    @include media($mq-desk) {
      @include nt-hero("2.4:1");

      .hero__heading {
        font-size: 7em;
      }
    }
  }
}

.collection {

  &.collection--content {
    @include padding(3em null 5em null);
    background: #242425;

    .collection__inner {
      @include nt-container;

      .collection__heading {
        color: #ec6963;
        text-align: center;
        font-size: 2.5em;
        font-family: serif;
      }

      .content {
        @include span-columns(8);
        @include shift(2);

        .content__title {
          @include margin(1em null 1em null);
          color: #ec6963;
          text-align: center;
          font-size: 1.2em;
          font-weight: 400;
      }

      .content__copy {
        color: #858586;
        font-weight: 400;
        text-align: center;
      }
    }
  }

/*  @include media($mq-lap-down) {

      .collection__item {
        @include margin(1em null null null);

        &:last-child {
          @include margin(null null 0 null);
        }
      }
    }
    
    @include media ($mq-desk) {

      .collection__item {
        @include margin(1em null null null);

        &:last-child {
          @include margin(null null 0 null);
        }
      }
    }
*/}

  &.collection--process {
    background: #3d3d3d;

    .collection__inner {
      
      .collection__content {
        @include nt-container;
        @include padding(3em null null null);
      
        .collection__heading {
          @include span-columns(8);
          @include shift(2);
          color: #ec6963;
          text-align: center;
          font-size: 2.5em;
          font-family: serif;
        }

        .collection__copy {
          @include span-columns(8);
          @include shift(2);
          @include margin(2em null 3em null);
          color: #858586;
          font-weight: 400;
          text-align: center;
        }
      }
    
      .collection__list {
        @include nt-container;

        .collection__item {
          @include span-columns(6);
          @include margin(0 0 0 0);

          .process {
            @include size(100% 20em);
            @include position(relative, null null null null);
            background-size: cover;

              .process__inner {
                @include position(absolute, 50% 0 50% 0);

                .process__heading {
                  text-align: center;
                  color: white;
                  font-size: 2.2em;
                  font-family: serif;
              }
            }
          }
        }
      }
    }
  }

  &.collection--app {
    @include padding(3em null null null);
    background: #3d3d3d;

    .collection__inner {
      @include nt-container;
    

    .collection__heading {
      font-size: 3em;
      color: white;
      text-align: center;
      font-family: serif;
    }

    .collection__item {
      @include span-columns(4);

      .app__inner {
        @include margin(4em null null null);

        .app__image {
          @include shift(4);
          @include position(relative, null null null null);

          &:last-child {
            @include margin(null null 5em null);
            }
          }
        }
      }
    }
  }
}


.form {
  @include padding(3em null 5em null);
  background: #f09029;

  .form__inner {
    @include nt-container;

    .form__heading {
      @include margin(null null 1em null);
      font-size: 2.5em;
      letter-spacing: .07em;
      color: #3d3d3d;
      text-align: center;
      font-family: serif;
      font-weight: 500;
    }

    .form__field {
      @include margin(1em null null null);
    }

    .form__input {
      @include placeholder {
        color: #bb6a15;
      }

      &.form__input--text {
        @include size(100% null);
        @include padding(.5em 1em .5em 1em);
        @include nt-background(black, .1);
        font-size: 1.5em;
        color: #bb6a15;
      }

      &.form__input--email {
        @include size(100% null);
        @include padding(.5em 1em .5em 1em);
        @include nt-background(black, .1);
        font-size: 1.5em;
        color: #bb6a15;
      }

      &.form__input--textarea {
        @include size(100% 10em);
        @include padding(.5em 1em .5em 1em);
        font-size: 1.5em;
        color: #bb8a15;
        @include nt-background(black, .1);
      }
    }

    .form__submit {
      @include size(100% null);
      @include padding(.5em 1em .5em 1em);
      @include nt-background(white, .5);
      @include transition(all 100ms linear);
      font-size: 1.5em;
      letter-spacing: .15em;
      text-align: center;
      color: #bb6a15;
  
      &:hover {
        @include nt-background(#434343, .75);
        color: white;
      }
    }
  }

  @include media($mq-lap) {

    .form__form {
      @include span-columns(6);
      @include shift(3);
    }
  }
}

.html {
  font-family: 'Droid Serif', serif;
}
