---
layout: layout--default
layout_class: home
---

<div class="layout__region region">

  <div class="layout__district district">

    <%= partial "components/hero", :locals => {
    :modifier => "home",
    :image => "",
    :heading => data.site.title
    } %>

  </div>

</div>

<div class="layout__region region">

  <div class="layout__district district">

    <%= partial "components/form", :locals => {
    :modifier => "contact",
    :heading => "Build your website with us.",
    :copy => "",
    :fields => [
    {
      :placeholder => "Your Name *",
      :name => "name",
      :type => :text
    },
    {
      :placeholder => "Email address *",
      :name => "email",
      :type => :email
    },
    {
      :placeholder => "What do you need? *",
      :name => "message",
      :type => :textarea
    },
    {
      :placeholder => "Send it to Cold & Goji!",
      :type => :submit
    }
    ]
    } %>

  </div>

</div>

